*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 10px;
    cursor: pointer;
}

.btn__container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #f89f9E;
}

.yellow{
    background-color: #ffd6a5;
}

.green{
    background-color: #72cccb;
}

.purple{
    background-color: #dedaf4;
}

.gameFlash{
    background-color: #fcffeb;
}

.userFlash{
    background-color: #edff86;
}